<mat-card>
    <mat-card-content fxLayout="column" fxLayoutAlign="center center">
      <div gdColumns="repeat(3, 48px)" gdGap="1rem">
        <webcam [width]="width" [height]="height" [trigger]="trigger"
                (imageCapture)="snapshot($event)">
        </webcam>
        </div>

        <div>
            <button mat-raised-button color="primary" type="button" (click)="snap()">Snap</button>
        </div>

        <div *ngFor="let p of pics">
            <img [src]="p" width="100"/>
        </div>
    </mat-card-content>
</mat-card>


